<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Title Page-->
    <title>Data Reconciliation Tool</title>

    <!-- Icons font CSS-->
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/fevicon.jpg" type="image/gif">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div>
        <a href="https://www.credit-suisse.com/in/en.html"><img src="../static/CS_logo.svg" style="float: right; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;"></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="close_1();">&times;</a>
        <div>
            <img src="../static/home_page_svg.svg" style="float:left; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 10px;">
        </div>
        <form action = "{{url_for('form_data_view')}}" method="GET">
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">Home</button>
            </div>
        </form>
        <form action = "{{url_for('history1')}}" method="GET">
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">History</button>
            </div>
        </form>
        <form action = "{{url_for('config_form_data_view')}}" method="GET">
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">Config</button>
            </div>
        </form>
        </div></a>
      </div> 
      
      <div class="page-wrapper bg-gra-02 p-t-10 p-b-100 font-poppins">
        <span style="font-size:30px;cursor:pointer" onclick="open_1();">&#9776;</span>
        <div class="wrapper wrapper--w680">
           
            <div class="card card-4">
                <br><u>
                <center><h1>Data Reconciliation Tool</h1></center></u>
                <div class="card-body">
                    <h2 class="title">Query Details</h2>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <script>
                        var messages = {{ messages | safe }};
                        for (var i = 0; i < messages.length; i++) {
                            alert(messages[i]);
                        }
                    </script>
                    {% endif %}
                    {% endwith %}
                    <h5>Please ensure that Source Configurations are performed.</h5>
                <br>
                <h5 style="color: blue;"><u><a href="{{url_for('config_form_data_view')}}"> Configure the sources here.</a></u><b></b></h5>
                <br>
                    <form action = "{{url_for('process_form_data')}}" method="POST">
                        <div class="row row-space">
                        </div>
                        <!-- <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Company name for Source 1</label>
                                    <input class="input--style-4" type="text" name="Company_1" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Company name for Source 2</label>
                                    <input class="input--style-4" type="text" name="Company_2" required>
                                </div>
                            </div>
                        </div> -->
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Comparision Date for Source 1</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="Date_1" required>
                                        <i class="zmdi zmdi-calendar-note input-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Comparision Date for Source 2</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="Date_2" required>
                                        <i class="zmdi zmdi-calendar-note input-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                        </div> -->
                        <div class="input-group">
                            <label class="label">Select comparision column from source 1</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select class = "select-state" name="Comp_Column_1" placeholder="Pick a state..." data-dropup-auto="false" required>
                                    <option disabled="disabled" selected="selected" value="">Choose option</option>
                                    <option>Prev_Close</option>
                                    <option>Open_Price</option>
                                    <option>High_Price</option>
                                    <option>Low_Price</option>
                                    <option>Last_Price</option>
                                    <option>Close_Price</option>
                                    <option>Avg_Price</option>
                                    <option>TTL_TRD_QNTY</option>
                                    <option>TURNOVER_LACS</option> 
                                    <option>NO_OF_TRADES</option>
                                    <option>DELIV_QTY</option>
                                    <option>DELIV_PER</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Select comparision column from source 2</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select class = "select-state" name="Comp_Column_2" data-dropup-auto="false" required>
                                    <option disabled="disabled" selected="selected" value="">Choose option</option>
                                    <option>Prev_Close</option>
                                    <option>Open_Price</option>
                                    <option>High_Price</option>
                                    <option>Low_Price</option>
                                    <option>Last_Price</option>
                                    <option>Close_Price</option>
                                    <option>Avg_Price</option>
                                    <option>TTL_TRD_QNTY</option>
                                    <option>TURNOVER_LACS</option> 
                                    <option>NO_OF_TRADES</option>
                                    <option>DELIV_QTY</option>
                                    <option>DELIV_PER</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <!-- <script src="static/vendor/jquery/jquery.min.js"></script> -->
    <!-- Vendor JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="static/js/global.js"></script>
    <script>
        $(".select-state").select2( {
         placeholder: "Select Field",
         allowClear: true
         } );
    </script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->