
{% extends 'base.html' %}



{% block title %} Data Reconciliation Tool {% endblock %}



{% block body %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="close_1();">&times;</a>
    <form action = "{{url_for('form_data_view')}}" method="GET">
        <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Home</button>
        </div>
    </form>
    <form action = "{{url_for('history1')}}" method="GET">
        <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">History</button>
        </div>
    </form>
    <form action = "{{url_for('config_form_data_view')}}" method="GET">
        <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Config</button>
        </div>
    </form>
    </div></a>
  </div> 
<div class="jumbotron p-3">
    <span style="font-size:30px;cursor:pointer" onclick="open_1();">&#9776;</span>
    <div class="well text-center">
        <h1>Data Reconciliation Tool </h1>

    </div>


</div>

{% endblock %}