
{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>History </h2>
                <br>
                <h5><b>Please ensure that Source Configurations are met before executing the historical comparisions.</b></h5>
                <br>
                <h5><u><a href="{{url_for('config_form_data_view')}}"> Configure the sources here.</a></u><b></b></h5>
                <br>
                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">
                    <!-- <form action="{{url_for('process_form_data')}}" method="post"> -->
                    <tr>

                        <th style="text-align: center;">Source 1</th>
                        <th style="text-align: center;">Date 1</th>
                        <th style="text-align: center;">Comparision <br> Field 1</th>
                        <th style="text-align: center;">Source 2</th>
                        <th style="text-align: center;">Date 2</th>
                        <th style="text-align: center;">Comparision <br> Field 2</th>
                        <th style="text-align: center;">Compare</th>
                    </tr>


                   {% for row in hRows %}
                   <tr>
                    <form action="{{url_for('process_form_data')}}" method="post">
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" text-align="center" type="text" name="Source_1" value="{{row.Source_1.Source_1}}" readonly required></th>
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" type="text" name="Date_1" value="{{row.Source_1.Date_1}}" readonly required></th>
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" type="text" name="Comp_Column_1" value="{{row.Source_1.Comp_Column_1}}" readonly required></th>
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" type="text" name="Source_2" value="{{row.Source_2.Source_2}}" readonly required></th>
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" type="text" name="Date_2" value="{{row.Source_2.Date_2}}" readonly required></th>
                    <th><input style="height:50px;outline:none;background-color:#343a40;text-align:center;color: white;" type="text" name="Comp_Column_2" value="{{row.Source_2.Comp_Column_2}}" readonly required></th>
                    <th><input type="submit" name="button" class="btn btn--radius btn--black" font-size="10px" value="Compare"></th>
                </form> 
                </tr>

                {% endfor %}   
                          
                </table>
            
            


            </div>






        </div>

    </div>


</div>


{% endblock %}