{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Comparision Results  <a href="{{url_for('form_data_view')}}"><button style="background-color: darkorchid;" type="button"  class="btn btn-success float-right"
                  data-toggle="modal" data-target="#mymodal" >New Search</button></a> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>Symbol</th>
                        <th>Date</th>
                        <th>Prev_Close</th>
                        <th>Open Price</th>
                        <th>Close Price</th>

                    </tr>


                   {% for row in Companies %}
                    <tr>
                        <td>{{row['Symbol']}}</td>
                        <td>{{row['Date']}}</td>
                        <td>{{row['Prev_Close']}}</td>
                        <td>{{row['Open_Price']}}</td>
                        <td>{{row['Close_Price']}}</td>


                    </tr>




                    {% endfor %}


                </table>


            </div>






        </div>

    </div>


</div>


{% endblock %}